@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }
  
  .limited-container {
    width: 430px;
    height: 932px;
    overflow: auto; 
    box-sizing: border-box;
    border: 1px solid #ccc; 
    border-radius: 57px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }